.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
}

.logo-title {
    display: flex;
    gap: 30px;
}

.title {
    font-weight: bold;
    font-size: 15px;
}

.categorys {
    display: flex;
    gap: 100px
}

.right-bar {
    padding: 30px;
    width: 500px;
}

.first-list {
    list-style: none;
    margin-bottom: 50px;
}

.first-list li {
    cursor: pointer;
    margin-bottom: 20px;
}

.second-list {
    list-style: none;
}

.second-list li {
    cursor: pointer;
    margin-bottom: 20px;
}

.items {
    margin-top: 20px;
}

.item-title {
    font-size: 20px;
}

.drinks-items {
    display: flex;
    flex-wrap: wrap;
}

.cat-drinks-1 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.cat-drinks-2 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.cat-drinks-3 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.cat-drinks-4 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.cat-drinks-5 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.cat-drinks-6 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.foods-items {
    display: flex;
    flex-wrap: wrap;
}

.cat-food-1 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.cat-food-2 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.cat-food-3 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.cat-food-4 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.cat-food-5 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.cat-food-6 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100px;
    background-color: rgb(232, 232, 232);
}

.contact-us {
    font-weight: 700;
}