* {
    font-family: SoDoSans, Helvetica, Arial, sans-serif;
    /* i find the font-familly in the original menu view source or inspect */
    /* https: //stackoverflow.com/questions/10041706/applying-a-single-font-to-an-entire-website-with-css */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(221, 210, 210);
}

.logo-title {
    display: flex;
    gap: 30px;
}

.title {
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    }
    
    .title:hover {
        color: green;
}

.categorys {
    display: flex;
    gap: 100px
}

.right-bar {
    padding: 30px;
    width: 600px;
}

.first-list {
    list-style: none;
    margin-bottom: 50px;
}

.first-list li {
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 15px;
}

.second-list {
    list-style: none;
}

.second-list li {
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 15px;
}

.items {
    margin-top: 20px;
}

.item-title {
    font-size: 20px;
}

.drinks-items {
    display: flex;
    flex-wrap: wrap;
}

.cat-drinks-1 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.drinks-1 {
    font-weight: 550;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.drinks-1:hover {
    border-bottom: 1px solid orange;
}

.cat-drinks-2 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.drinks-2 {
    font-weight: 550;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.drinks-2:hover {
    border-bottom: 1px solid orange;
}

.cat-drinks-3 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.drinks-3 {
    font-weight: 550;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.drinks-3:hover {
    border-bottom: 1px solid orange;
}

.cat-drinks-4 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.drinks-4 {
    font-weight: 550;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.drinks-4:hover {
    border-bottom: 1px solid orange;
}

.cat-drinks-5 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.drinks-5 {
    font-weight: 550;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.drinks-5:hover {
    border-bottom: 1px solid orange;
}

.cat-drinks-6 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.drinks-6 {
    font-weight: 550;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.drinks-6:hover {
    border-bottom: 1px solid orange;
}

.foods-items {
    display: flex;
    flex-wrap: wrap;
}

.cat-food-1 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.food-1 {
    font-weight: 550;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.food-1:hover {
    border-bottom: 1px solid orange;
}

.cat-food-2 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.food-2 {
    font-weight: 550;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.food-2:hover {
    border-bottom: 1px solid orange;
}

.cat-food-3 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.food-3 {
    font-weight: 550;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.food-3:hover {
    border-bottom: 1px solid orange;
}

.cat-food-4 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.food-4 {
    font-weight: 550;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.food-4:hover {
    border-bottom: 1px solid orange;
}

.cat-food-5 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.food-5 {
    font-weight: 550;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.food-5:hover {
    border-bottom: 1px solid orange;
}

.cat-food-6 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.food-6 {
    font-weight: 550;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.food-6:hover {
    border-bottom: 1px solid orange;
}
.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100px;
    background-color: rgb(232, 232, 232);
}

.contact-us {
    font-weight: 700;
}