* {
    font-family: SoDoSans, Helvetica, Arial, sans-serif;
    /* i find the font-familly in the original menu view source or inspect */
    /* https: //stackoverflow.com/questions/10041706/applying-a-single-font-to-an-entire-website-with-css */
}
.menu-container {
    width: 1000px;
}
.navbar{
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgb(221, 210, 210);
    margin: 20px;
    width: 1300px;
}
.title{
    position: absolute;
    top:0px;
    left: 120px;
    font-weight: bold;
    font-size: 20px;
}
.lang{
    position: absolute;
    bottom: 30px;
    right: 0;
    color: green;
}
.categorys {
    height: 1600px;
}

.right-bar {
    padding: 40px;
    width: 300px;
}
.drinks-list {
    list-style: none;
    margin-bottom: 50px;
}
.drinks-list li {
    margin-bottom: 20px;
}
.drinks-list li:first-child {
    font-weight: 600;
}

.foods-list {
    list-style: none;
}
.foods-list li {
    margin-bottom: 10px;
}
.foods-list li:first-child {
    font-weight: 600;
}
.items{
    position: relative;
    left: 400px;
    bottom: 600px;
    overflow: auto;
    
}
.menu-title {
    font-weight: 600;
}
img {
    width: 200px;
    border-radius: 50%
}
.drink-title {
    font-size: 20px
}
.cat-drinks-1{
    float: left;
    margin-right: 100px;
}

.drinks {
    float: right;
    color: rgb(35, 35, 35);
    margin-left: 30px;
    font-weight: 550;
        margin-top: 85px;
    }
    
.cat-drinks-2 {
    float: left;
}
    
.cat-drinks-3 {
    float: left;
    margin-right: 120px;
}
    
.cat-drinks-4 {
    float: left;
}
    
    
.cat-drinks-5 {
    float: left;
    margin-right: 150px;
}

.cat-drinks-6 {
    float: left;
}

.cat-foods {
    float: left;
}

.cat-food-1 {
    float: left;
    top: 100px;
    margin-right: 150px;
}
.food-title {
    font-size: 20px
}

.food {
    float: right;
    margin-top: 85px;
    margin-left: 30px;
    font-weight: 550;
        color: rgb(35, 35, 35);
    }
    
.cat-food-2 {
    float: left;
}
    

.cat-food-3 {
    float: left;
    margin-right: 100px;
}

    .cat-food-4 {
        float: left;
    }
    

.cat-food-5 {
    float: left;
    margin-right: 170px;
}

.cat-food-6 {
    float: left;
}

.loc {
    float: left;
    margin-right: 100px;
        margin-top: 60px;
}

.footer {
    height: 100px;
    padding: 20px;
    width: 1300px;
    background-color: rgb(168, 168, 168);
}
.social-media{
    margin: 20px;
}
.contact-us{
    margin: 20px;
}