* {
    font-family: SoDoSans, Helvetica, Arial, sans-serif;
    /* i find the font-familly in the original menu view source or inspect */
    /* https: //stackoverflow.com/questions/10041706/applying-a-single-font-to-an-entire-website-with-css */
}
.menu-container {
    width: 1000px;
}
.navbar{
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgb(221, 210, 210);
    margin: 20px;
    width: 1300px;
}
.title{
    position: absolute;
    top:0px;
    left: 120px;
    font-weight: bold;
    font-size: 20px;
}
.lang{
    position: absolute;
    bottom: 30px;
    right: 0;
    color: green;
}
.categorys {
    height: 1600px;
}

.right-bar {
    padding: 40px;
    width: 300px;
}
.first-list{
    list-style: none;
    margin-bottom: 50px;
}
.first-list li{
    margin-bottom: 20px;
}
.second-list{
    list-style: none;
}
.second-list li{
    margin-bottom: 10px;
}
.items{
    position: relative;
    left: 400px;
    bottom: 600px;
    overflow: auto;
    
}
.cat-drinks-1{
    float: left;
    margin-right: 100px;
}

.drinks-1 {
    float: right;
    color: rgb(35, 35, 35);
    margin-left: 30px;
    font-weight: 550;
        margin-top: 85px;
    }
    
    .cat-drinks-2 {
        float: left;
    }
    
    .drinks-2 {
        float: right;
        margin-top: 85px;
        margin-left: 30px;
        font-weight: 550;
        color: rgb(35, 35, 35);
    }
    
    .cat-drinks-3 {
        float: left;
        margin-right: 120px;
}
.drinks-3 {
    float: right;
    margin-top: 85px;
    margin-left: 30px;
    font-weight: 550;
        color: rgb(35, 35, 35);
    }
    
    .cat-drinks-4 {
        float: left;
    }
    
    .drinks-4 {
        float: right;
        margin-top: 85px;
        margin-left: 30px;
        font-weight: 550;
        color: rgb(35, 35, 35);
    }
    
    .cat-drinks-5 {
        float: left;
        margin-right: 150px;
}
.drinks-5 {
    float: right;
    margin-top: 85px;
    margin-left: 30px;
    font-weight: 550;
        color: rgb(35, 35, 35);
}

.cat-drinks-6 {
    float: left;
}
.drinks-6 {
    float: right;
    margin-top: 85px;
    margin-left: 30px;
    font-weight: 550;
    color: rgb(35, 35, 35);
}

.cat-foods {
    float: left;
}

.cat-food-1 {
    float: left;
    top: 100px;
    margin-right: 150px;
}

.food-1 {
    float: right;
    margin-top: 85px;
    margin-left: 30px;
    font-weight: 550;
        color: rgb(35, 35, 35);
    }
    
    .cat-food-2 {
        float: left;
    }
    
    .food-2 {
        float: right;
        margin-top: 85px;
        margin-left: 30px;
        font-weight: 550;
        color: rgb(35, 35, 35);
}

.cat-food-3 {
    float: left;
    margin-right: 100px;
}
.food-3 {
    float: right;
    margin-top: 85px;
    margin-left: 30px;
    font-weight: 550;
        color: rgb(35, 35, 35);
    }
    
    .cat-food-4 {
        float: left;
    }
    
    .food-4 {
        float: right;
        margin-top: 85px;
        margin-left: 30px;
        font-weight: 550;
        color: rgb(35, 35, 35);
}

.cat-food-5 {
    float: left;
    margin-right: 170px;
}
.food-5 {
    float: right;
    margin-top: 85px;
    margin-left: 30px;
    font-weight: 550;
        color: rgb(35, 35, 35);
}

.cat-food-6 {
    float: left;
}

.food-6 {
    float: right;
    margin-top: 85px;
    margin-left: 30px;
    font-weight: 550;
    color: rgb(35, 35, 35);
}

.loc {
    float: left;
    margin-right: 100px;
        margin-top: 60px;
}

.footer {
    height: 100px;
    padding: 20px;
    width: 1300px;
    background-color: rgb(168, 168, 168);
}
.social-media{
    margin: 20px;
}
.contact-us{
    margin: 20px;
}