.navbar{
    position: relative;
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 20px;
}
.title{
    position: absolute;
    top:0px;
    left: 120px;
    font-weight: bold;
    font-size: 20px;
}
.lang{
    position: absolute;
    bottom: 30px;
    right: 0;
    color: green;
}
.categorys {
    height: 1600px;
}

.right-bar {
    padding: 40px;
    width: 300px;
}
.first-list{
    list-style: none;
    margin-bottom: 50px;
}
.first-list li{
    margin-bottom: 20px;
}
.second-list{
    list-style: none;
}
.second-list li{
    margin-bottom: 10px;
}
.items{
    position: relative;
    left: 400px;
    bottom: 600px;
    overflow: auto;
    
}
.cat-drinks-1{
    float: left;
    top: 100px;
    margin-right: 100px;
}
.drinks-1{
    float: right;
    margin-top: 50px;
    margin-left: 30px;
}
.drinks-3 {
    float: right;
    margin-top: 50px;
    margin-left: 30px;
}
.drinks-5 {
    float: right;
    margin-top: 50px;
    margin-left: 30px;
}

.cat-drinks-3 {
    float: left;
    margin-right: 120px;
}
.cat-drinks-5 {
    float: left;
    margin-right: 150px;
}



.cat-food-1 {
    float: left;
    top: 100px;
    margin-right: 150px;
}

.food-1 {
    float: right;
    margin-top: 50px;
    margin-left: 30px;
}

.food-3 {
    float: right;
    margin-top: 50px;
    margin-left: 30px;
}

.food-5 {
    float: right;
    margin-top: 50px;
    margin-left: 30px;
}

.cat-food-3 {
    float: left;
    margin-right: 100px;
}

.cat-food-5 {
    float: left;
    margin-right: 170px;
}

.footer {
    height: 100px;
        padding: 20px;
     background-color: rgb(168, 168, 168);
}
.social-media{
    margin: 20px;
}
.contact-us{
    margin: 20px;
}